Hi <%= session[:user_id]%>  <a href="/">Go to All Products</a>  <a href="/logout/<%=session[:user_id]%>">logout</a>


<p>Sell Product</p>
  <form action="/" method="post">
    Name <input type="text" name="name">
    Amount <input type="number" name="amount" placeholder="$0.00">
     <input type="submit" value = "Sell">
  </form> <br><br>

  <p>Your products that are not yet sold</p>
    <table>
      <tr>
        <th> Product</th>
        <th> Date Posted</th>
        <th> Amount</th>
        <th> Action</th>
      </tr>
    </table> <br><br>

  <p>Sales</p>
    <table>
      <tr>
        <th> Product</th>
        <th> Date Bought</th>
        <th> Buyer</th>
        <th> Amount</th>
      </tr>
    </table>
    <p >Total:--</p> <br>


  <p>Purchases</p>
    <table>
      <tr>
        <th> Product</th>
        <th> Date Bought</th>
        <th> Seller</th>
        <th> Amount</th>
      </tr>
    </table>
    <p>Total:--</p><br>
